/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
    font-family: 'Roboto', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
.header{
	background: url('../images/header-bg.jpg') no-repeat;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:88px;
	position:relative;
}
.top-menu {
	text-align: center;
	padding-top: 2.3em;
}
.top-menu ul li{
	display: inline-block;
	margin: 0 10px;
	color: #fff;
	font-weight: 900;
	vertical-align: top;
}
.top-menu ul li:nth-child(2),.top-menu ul li:nth-child(4),.top-menu ul li:nth-child(6),.top-menu ul li:nth-child(8) {
	margin: 0;
}
.top-menu ul li a.active{
	color:#faed23;
}
.top-menu ul li a:hover{
	color:#faed23;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}
/* Effect 5: same word slide in */
.cl-effect-5 a {
	overflow: hidden;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* Effect 5: same word slide in and border bottom */

.top-menu ul li a{
	text-decoration:none;
	color:#fff;
	font-size: 16px;
	font-weight: 400;
	text-transform:uppercase;
}
.logo {
	position: absolute;
	top: 100%;
	left: 13%;
	z-index: 999;
	width: 22.8%;
}
.logo img{
	width:100%;
}
/*--- slider-css --*/
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.caption{
	width: 23%;
	position: absolute;
	top: 26%;
	padding: 4em 1em 7em 1em;
	left: 13%;
	text-align: center;
	background: url('../images/caption-bg.png') no-repeat;
	background-size: 100% 100%;
}
.caption h3{
	color:#ff0000;
	text-transform:uppercase;
	font-size:2.7em;
	font-weight:400;	
}
.caption p{
	font-size: 1.3em;
	font-weight: 400;
	color: #000;
	margin-top: 2em;
	line-height: 1.6em;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 50px;
	width: 5px;
	display: inline-block;
	background:#faed23;
}
.callbacks_here a:after{
	background:#ff0000;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	list-style-type:none;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 40%;
	z-index: 999;
	right: 6%;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 41%;
  left: 14%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 14%;
 }
/*-- responsive-mediaquries --*/
@media(max-width:1024px){
	.caption {
		width: 63%;
		top: 31%;
		left: 19%;
	}
}
@media(max-width:768px){
	.caption {
		width: 70%;
		top: 22%;
		left: 13%;
	}
	.callbacks_nav {
	  	top: 55%;
	 }
}
@media(max-width:640px){
	.caption {
		width: 70%;
		top: 12%;
		left: 13%;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.callbacks_nav {
		display: none;
	}
}
@media(max-width:480px){
	.caption {
		width: 70%;
		top: 14%;
		left: 13%;
	}
	.callbacks_nav {
	  	top: 60%;
	 }
	.callbacks_tabs a:after {
		height:4px;
		width: 4px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
@media(max-width:320px){
	.caption {
		width: 70%;
		top: 14%;
		left: 13%;
	}
	.callbacks_nav {
	  	top: 63%;
	 }
	.callbacks_tabs a:after {
		height:4px;
		width: 4px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
.welcome-grid{
	float:right;
}
.images{
	float:left;
}
.img1{
	float:left;
	width:48%;
	margin-right:4%;
}
.img1 img,.img2 img{
	width:100%;
}
.img2{
	float:left;
	width:48%;
}
.welcome-section {
	padding: 5em 0;
}
.welcome-grid h3 {
	text-transform: uppercase;
	font-size: 2.2em;
	font-weight: 500;
	color: #000;
	margin-bottom:0.5em;
}
.welcome-grid h5 {
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: 400;
	color: #ff0000;
}
.welcome-grid p {
	font-size: 1.15em;
	font-weight: 400;
	color: #999999;
	margin-top:1em;
	line-height:1.6em;
}
.about-section{
	background: url('../images/about-bg.jpg') no-repeat;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:622px;
	padding-top: 5.5em;
}
.about-section h2{
	color:#fff;
	text-transform:uppercase;
	font-size:3.8em;
	font-weight:500;
	margin-bottom:1.1em;
}
.about-section-grid h4{
	color:#fff;
	font-size:1.7em;
	font-weight:400;
	font-style:italic;
	text-transform:uppercase;
	margin-bottom:0.8em;
}
.about-section-grid p{
	color:#fff;
	font-size:1.2em;
	font-weight:300;
	line-height:1.6em;
}
.about-section a{
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 500;
	padding: 0.85em 1.5em;
	background: #faed23;
	color: #ff0000;
	text-decoration: none;
	display: block;
	width: 18%;
	margin: 4em auto 0;
	z-index: 1;
}
.textimonials-section{
	background: url('../images/t-bg.jpg') no-repeat;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:628px;
	padding-top: 9em;
}
.textimonials-section h5{
	color:#fff;
	text-transform: uppercase;
	font-size: 1.6em;
	font-weight: 400;
	margin:2.5em 0 1.5em 0;
	line-height:1.6em;
}
.textimonials-section p{
	color:#fff;
	font-size:1.5em;
	font-weight:500;
	font-style:italic;
	margin-bottom:4em;
}
.textimonials-section a{
	text-transform:uppercase;
	color:#fff;
	border:2px solid #fff;
	padding:0.9em 2em;
	text-decoration:none;
	font-weight:400;
	font-size:1.4em;
	z-index: 1;
}
.footer{
	background:#444444;
	padding:5em 0;
}
.contact-section input[type="text"], .contact-section textarea {
	width: 95%;
	color: #fff;
	padding: 15px 15px;
	border: none;
	outline: none;
	margin: 0 0 10px 0;
	background:#575757;
	text-transform:uppercase;
	font-weight:300;
	font-size:1.15em;
}
.contact-section textarea {
	resize: none;
	width: 95%;
	height: 8em;
}
.contact-section h4,.follow-us h4{
	color:#fff;
	text-transform:uppercase;
	font-weight:300;
	font-size:1.8em;
	margin-bottom:1em;
}
.follow-us h4{
	margin-bottom:0.7em;
}
.contact-section input[type="submit"] {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 400;
	background: #d90303;
	padding: 12px 45px;
	outline: none;
	border:none;
}
.contact-section input[type="submit"]:hover{
	background:#faed23;
	color:#d90303;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.follow-us p {
	color: #fff;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 1.6em;
}
.social-icons i{
	width:60px;
	height:60px;
	background:url('../images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
	cursor:pointer;
}
.social-icons i:hover{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.facebook{
	background-position:0px 0px;
}
i.facebook:hover{
	background-position:0px -60px;
}
i.twitter{
	background-position:-60px 0px;
}
i.twitter:hover{
	background-position:-60px -60px;
}
i.pinterest{
	background-position:-120px 0px;
}
i.pinterest:hover{
	background-position:-120px -60px;
}
i.googlepluse{
	background-position:-180px 0px;
}
i.googlepluse:hover{
	background-position:-180px -60px;
}
.social-icons {
	margin: 0 0 12px -8px;
}
.copyright {
	margin-top: 4.8em;
}
.copyright a{
	color:#faed23;
	font-size:17px;
	font-weight:400;
	margin-left:5px
}
/*--------error-page----------*/
.Error-found {
	padding-top: 14em;
	background: #fff;
	min-height: 800px;
}
.error-page {
	margin-top: 2em;
}
.error-page h3 img {
	width: 21%;
}
.error-page h3 {
	font-weight: 500;
	text-transform: uppercase;
	color:#5F601E;
	margin: 0;
	padding: 0 0 0em 0;
	font-size: 19em;
}
.error-page h3 span {
	color: #E16C5B;
}
.error-page p{
	font-weight:100;
	font-size:2.5em;
	color: #666;
	font-family: 'Opensan', sans-serif;
	margin-top:0.6em;
}
a.home-btn:hover {
	border-color: #c1061b;
	color: #c1061b;
}
a.button.curl-bottom-right.two{
	padding: 1em 1em;
	width: 15%;
	font-size: 1.2em;
	font-weight: 500;
	color: #ff0000;
}
/* Curl Bottom Right */
.curl-bottom-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  background:#faed23;
  padding: 0.7em 1.8em;
  color: #FFF;
	font-size: 1em;
	font-family: 'Opensan', sans-serif;
	width: 25%;
	font-weight:400;
	text-transform: uppercase;
	text-decoration:none;
	margin-top: 1em;
}
a.button.curl-bottom-right{
	text-decoration: none;
}
a.button.curl-bottom-right:hover{
	color:#ff0000;
}
.curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background:#f7ec13;
  /* IE9 */
  background: linear-gradient(315deg,#fff 45%, #faed23 50%, #faed23 56%,#faed23 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  text-decoration: none;
}
.curl-bottom-right:hover:before, .curl-bottom-right:focus:before, .curl-bottom-right:active:before {
  width: 25px;
  height: 25px;
}
/*--------error-page-ends----------*/
/*--contact--*/
/************* Contact ********/
.contact_desc{
	padding:13em 0 4em 0;
	background:#FFF;
}
.contact_desc h2{
    color: #000000;
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: 500;
    margin: 17px 0px;
}
.contact-form{
	position:relative;
	padding-bottom:20px;
}
.left_form{
	float:left;
	width:48%;
}
.right_form{
	float:left;
	width:48%;
	margin-left:3.8%;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span label {
    display: block;
    font-size: 1em;
    color: #686868;
    padding-bottom: 5px;
    font-weight: 400;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:10px;
			display:block;
			width:100%;
			background:#fcfcfc;
			border: none;
			outline:none;
			color:#464646;
			font-size:1em;
			box-shadow: inset 0px 0px 3px #999;
			-webkit-box-shadow: inset 0px 0px 3px #999;
			-moz-box-shadow: inset 0px 0px 3px #999;
			-o-box-shadow: inset 0px 0px 3px #999;
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height: 193px;		
}
.myButton{
	background: #ff0000;
	color: #fff;
	font-size: 1.2em;
	padding: 9px 25px;
	border:none;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    display:inline-block;
    cursor:pointer;
    text-transform:uppercase;
    -webkit-appearance:none;
    float:right;
}
.myButton:hover{
        text-shadow: 0px 0px 1px #fadb6f;
		background:#faed23;
		color:#000;
}
.company_address{
	 float:left;
	 width:25%;
}
.company_address p{
    display: block;
    font-size: 1em;
    color: #686868;
    padding-bottom: 5px;
    font-weight: 400;
    padding: 5px 0;
}
.company_address p span a{
	text-decoration:underline;
	color:#555;
}
.company_address p span a:hover{
	text-decoration:none;
    color: #ff0000;
}
.contact_info{
	float:right;
	width:70%;
	margin-left:5%;
}
/*-- Contact-ends-here --*/

/*-- about-starts-here --*/
.content-gear h3 span,.gear-content h3 span{
	color:#f3bc23;
}
.gear-content-grid iframe{
	width:90%;
	height:500px;
	}
.content-gear p{
	font-size: 1.4em;
	line-height: 1.6em;
	width: 95%;
	margin: 0 auto;
	border-bottom: 1px solid #BEBEBE;
	padding: 0 0 4em;
}
.content-gear {
	text-align: center;
	padding: 2em 0 3em;
}
/*--about-page-starts--*/
.about-page {
	padding-top: 7em;
}
.banner span.matter-out-in{
	width: 620px;
	height: 263px;
	background: url(../images/ma3.png) 0px 0px;
}
.content-gear h3,.gear-content h3{
	margin:0.5em 0;
	font-size:3.5em;
	font-weight:500;
	text-transform:uppercase;
	color: #000;
	text-align: center;
}
.gear-grid {
	padding: 3em 0;
}
.content-gear h3 span,.gear-content h3 span{
	color:#f3bc23;
}
.gear-content-grid iframe{
	width:90%;
	height:500px;
	}
.content-gear p{
	font-size: 1.4em;
	line-height: 1.6em;
	width: 95%;
	margin: 0 auto;
	border-bottom: 1px solid #BEBEBE;
	padding: 0 0 2em;
}
.content-gear {
	text-align: center;
	padding: 2em 0 1em 0;
}
label.icon-grid{
	float:left;
	width: 122px;
	height: 122px;
	background: url(../images/img-sprite.png) -4px -122px;
}
label.icon{
	background-position:-136px -122px;
}
label.grid-icon{
	background-position:-272px -122px;
}
.gear-grids {
	width: 32.333%;
	margin-right: 1%;
	padding: 0;
}
.gear-gridsn{
	margin-right:0;
	padding:0;
}
.inner-gear{
	float:right;
	width: 63%;
}
.inner-gear h5{
	margin:0;
	font-size: 1.6em;
	font-weight: 700;
}
.inner-gear p{
	font-size: 1.2em;
	font-weight: 300;
	color: #000;
	line-height: 1.6em;
}
.order-left{
	float:left;
	border: 1px solid #C7C5C5;
	background: #fff;
	padding:1em 0.5em;
}
.left-order{
	float:right;
	width: 50%;
}
.left-order h5{
	margin: 0;
	font-size: 3.5em;
	text-transform: uppercase;
}
.left-order span{
	font-size: 1.4em;
	color: #b2ce22;
	font-weight: 800;
}
.left-order p{
	margin: 1em 0 3em;
	font-size: 1.2em;
	width: 85%;
}
p.size{
	text-transform: uppercase;
	font-size: 1.6em;
	margin: 0 0 1em;
}
p.size b{
	padding: 0.2em 2em;
	background: #fff;
	border: 1px solid #C7C5C5;
	margin: 0 1em;
}
p.size-in{
	margin:0 0 2em;
}
p.size-in b{
	padding: 0.2em 3em;
}
a.cart{
	text-decoration:none;
	font-size:1.4em;
	color:#b2ce22;
	background:#1c1d24;
	padding:0.5em 2em;
}
a.cart:hover{
	color:#fff;
	background:#b2ce22;
}
.inner-gear h5 a,.we-do h6 a{
	text-decoration:none;
	color: #ff0000;
}
.order-content {
	padding: 5em 0 7em;
}
.our-grid{
	background:url(../images/ba2.png) 0px 0px;
	width:100%;
	height:870px;
	display:inline-block;
}
.our-grid h3{
	margin:2em 0 0;
	font-size:5.1em;
	color:#575a6f;
	text-align:center;
}
.the-do h6{
	margin:0 0 0.5em;
	font-size: 2.1em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
.the-do span{
	font-size:1.1em;
	color:#b2ce22;
	font-weight: 700;	
}
.the-do p{
	margin: 0.4em 0 0;
	font-size:1.1em;
	color:#fff;
	font-weight: 700;
	text-transform: uppercase;
}
.the-do ul {
	padding:0.7em 0 0.5em 2.7em;
}
.the-do ul li{
	list-style:none;
	font-size:1.1em;
	color:#fff;
	font-weight: 700;
	text-transform: uppercase;
	padding:0.2em 0;
}
.do-the{
	padding:4em 0;
}
.content-con {
	padding: 6em 0 0;
}.our-grid{
	background:url(../images/ba2.png) 0px 0px;
	width:100%;
	height:870px;
	display:inline-block;
}
.our-grid h3{
	margin:2em 0 0;
	font-size:5em;
	color:#575a6f;
	text-align:center;
}
.the-do h6{
	margin:0 0 0.5em;
	font-size: 2.1em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
.the-do span{
	font-size:1.1em;
	color:#faed23;
	font-weight: 700;	
}
.the-do p{
	margin: 0.4em 0 0;
	font-size:1.1em;
	color:#fff;
	font-weight: 700;
	text-transform: uppercase;
}
.the-do ul {
	padding:0.7em 0 0.5em 2.7em;
}
.the-do ul li{
	list-style:none;
	font-size:1.1em;
	color:#fff;
	font-weight: 700;
	text-transform: uppercase;
	padding:0.2em 0;
}
.do-the{
	padding:4em 0;
}
.content-con {
padding: 6em 0 0;
}
/*-- about-ends-here --*/

/*-- photo-ends-starts --*/
.project-section-head h3{
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	font-size: 3.2em;
}	
.project-section-head p{
	color: #FFF;
	font-weight: 400;
	font-size: 1.3em;
}
.project-section{
	padding: 12em 0 4em 0;
}	
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 32.4%;
	display:none;
	overflow:hidden;
	margin: 0 1% 1% 0;
}
div#portfoliolist {
	padding: 0px 0px;
}	
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
#portfoliolist .portfolio:nth-child(3),#portfoliolist .portfolio:nth-child(6),#portfoliolist .portfolio:nth-child(9){
	margin-right:0 !important;
}
.portfolio img {
	width:100%;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background: #22B4B8;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.portfolio .text-category {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}
.row:after,
.clearfix:after {
  clear: both; 
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: left;
}
#filters li span{
	display: block;
	text-decoration: none;
	color: #464251;
	cursor: pointer;
	font-size: 1.4em;
	font-weight: 400;	
	margin:0 0.5em;
}
#filters li span.active {
	color: #ff0000;	
	margin-left: 0;
	font-weight: 500;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
#filters li span.filter:hover{
	color: #ff0000;	
	text-decoration:underline;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
#filters li span.active:hover{
	color: #ff0000;	
	font-weight: 500;
	text-decoration:none;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}						  
#filters li {
	display: -webkit-inline-box;
}
.zoom-icon {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	display: block;
	left: 0;
	top: -152px;
	width: 290px;
	height: 219px;
	background: url(../images/zoom.png) center center no-repeat;
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.grid_box .zoom-icon {
	top: -50px;
	width:100%;
	height: 182px;	
}
.grid_box a:hover .zoom-icon {
	top: 0;
	opacity: 1;
	filter: alpha(opacity=99); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.entertain_box{
	margin-bottom:3em;
}
.portfolio-botton {
	text-align: center;
	margin-top: 3em;
}
.portfolio-botton input[type="button"]{
	border:none;
	outline:none;
	padding:0.5em 1em;
	color:#fff;
	background:#60B890;
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border:1px dashed #60B890;
}
.portfolio-botton input[type="button"]:hover{
	border:1px dashed #fff;
	background:#F68367;
}
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	padding: 0.4em 1.5em;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius:0px !important;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 900;
	color: #fa6374;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
a.btn1{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	padding:0.8em 3em;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius:0px !important;
	text-decoration: none;
	font-size: 1.8em;
	border: 2px solid #fff;
	font-weight: 900;
	color: #fff;
}
a.btn1:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 1c */
.btn-1c:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-1c:hover,
.btn-1c:active {
	color:#ff0000;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	height: 100%;
}
/* Button 1d */
.btn-1d {
	overflow: hidden;
}

.btn-1d:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background: #ff0000;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1d:hover,
.btn-1d:active {
	color: #fff;
}

.btn-1d:hover:after {
	width: 90%;
	opacity: 1;
}

.btn-1d:active:after {
	width: 101%;
	opacity: 1;
}


/*-- responsive-design starts-here --*/

@media screen and (max-width: 1366px) {
	.header {
		min-height: 74px;
	}
	.top-menu {
		padding-top: 1.85em;
	}
	.caption h3 {
		font-size: 2.5em;
	}
	.caption {
		width: 22.8%;
	}
	.about-section {
		min-height: 532px;
		padding-top: 4em;
	}
	.about-section h2 {
		font-size: 3.65em;
		margin-bottom: 1em;
	}
	.about-section a {
		margin: 3.2em auto 0;
	}
	.textimonials-section {
		min-height: 535px;
		padding-top: 6.5em;
	}
	.textimonials-section h5 {
		margin: 2em 0 1.2em 0;
	}
	.textimonials-section p {
		margin-bottom: 3.5em;
	}
	.our-grid h3 {
		margin: 1.5em 0 0;
		font-size: 4.8em;
	}
	.our-grid {
		height: 810px;
	}
	.footer {
		padding: 4em 0;
	}
	.content-gear h3,.gear-content h3 {
		font-size: 3.4em;
	}
	.Error-found {
		padding-top: 12em;
	}
	.project-section {
		padding: 10em 0 4em 0;
	}
	.contact_desc {
		padding: 11em 0 4em 0;
	}
	.content-gear {
		padding: 0em 0 1em 0;
	}
	.logo {
		left: 11%;
	}
	.caption{
		left: 11%;
	}
}
@media screen and (max-width: 1280px) {
	.header {
		min-height: 69px;
	}
	.top-menu {
		padding-top: 1.65em;
	}
	.caption h3 {
		font-size: 2.4em;
	}
	.caption p {
		font-size: 1.25em;	
	}
	.logo {
		left: 10%;
	}
	.caption{
		left: 10%;
		padding: 3em 1em 3em 1em;
	}
	.welcome-section {
		padding: 4em 0;
	}
	.about-section {
		min-height: 493px;
		padding-top: 3em;
	}
	.about-section a {
		margin: 3em auto 0;
		font-size: 1.3em;
		padding: 0.8em 1.4em;
	}
	.textimonials-section {
		min-height: 494px;
		padding-top: 5.5em;
	}
	.about-section h2 {
		font-size: 3.6em;
		margin-bottom: 0.8em;
	}
	.content-gear h3, .gear-content h3 {
		font-size: 3.3em;
	}
	.gear-content h3 {
		font-size: 3em;
		margin: 0.5em 0 0 0;
	}
	.our-grid h3 {
		margin: 1.3em 0 0;
		font-size: 4.3em;
	}
	.Error-found {
		padding-top: 11em;
		min-height: 730px;
	}
	.project-section {
		padding: 9em 0 3em 0;
	}
	.contact_desc {
		padding: 10em 0 4em 0;
	}
}
@media screen and (max-width: 1024px) {
	.header {
		min-height: 56px;
	}
	.top-menu ul li a {
		font-size: 15px;
	}
	.top-menu {
		padding-top: 1.3em;
	}
	.logo {
		left: 8%;
	}
	.caption {
		left: 8%;
		top:26%;
	}
	.caption h3 {
		font-size: 2em;	
	}
	.caption p {
		font-size: 1.15em;
		margin-top: 1em;
		height: 125px;
		overflow: hidden;
	}
	.welcome-grid p {
		font-size: 1.1em;
		margin-top: 0.5em;
		height: 94px;
		overflow: hidden;
	}
	.welcome-grid {
		padding: 0;
	}
	.welcome-grid h3 {
		font-size: 2em;
		margin-bottom: 0.3em;
	}
	.welcome-grid h5 {
		font-size: 1.12em;
	}
	.welcome-section {
		padding: 3.5em 0;	
	}
	.about-section h2 {
		font-size: 3.2em;
		margin-bottom: 0.5em;
	}
	.about-section-grid h4 {
		font-size: 1.4em;
		font-weight: 400;
		margin-bottom: 0.8em;
	}
	.about-section-grid p {
		font-size: 1.1em;
		height:95px;
		overflow:hidden;
	}
	.about-section a {
		margin: 2.5em auto 0;
		font-size: 1.3em;
		padding: 0.7em 1.3em;
	}
	.about-section {
		min-height: 396px;
		padding-top: 2.5em;
	}
	.textimonials-section h5 {
		margin: 1.8em 0 1em 0;
		font-size: 1.3em;
	}
	.textimonials-section p {
		margin-bottom: 3em;
		font-size: 1.3em;
	}
	.textimonials-section a {
		padding: 0.8em 1.8em;
		font-size: 1.3em;
	}
	.textimonials-section {
		min-height: 399px;
		padding-top: 4em;
	}
	.textimonials-section img {
		width: 8%;
	}
	.footer {
		padding: 3em 0;
	}
	.about-page {
		padding-top: 5em;
	}
	.content-gear p {
		font-size: 1.3em;
		line-height: 1.55em;
		padding: 0 0 1.5em;
	}
	.gear-content h3 {
		font-size: 2.7em;
		margin: 0.4em 0 0 0;
	}
	label.icon-grid {
		width: 110px;
		height: 110px;
		background: url(../images/img-sprite.png) -3px -110px;
		background-size: 350px;
	}
	label.icon{
		background-position:-117px -110px;
	}
	label.grid-icon{
		background-position:-237px -110px;
	}
	.inner-gear h5 a {
		font-size: 0.85em;
	}
	.inner-gear p {
		font-size: 1.15em;
	}
	.content-gear h3 {
		font-size: 3em;
	}
	.our-grid h3 {
		margin: 1em 0 0;
		font-size: 3.8em;
	}
	.the-do ul li {
		font-size: 1em;
	}
	.the-do ul {
		padding: 0.5em 0 0.5em 2em;
	}
	.the-do ul li {
		font-size: 1em;
	}
	.the-do h6 {
		font-size: 1.8em;
	}
	.the-do {
		padding: 0;
	}
	.the-do span {
		font-size: 1em;
	}
	.our-grid {
		height: 700px;
	}
	.error-page {
		margin-top: 0;
	}
	a.button.curl-bottom-right.two {
		width: 18%;
	}
	.project-section {
		padding: 7em 0 3em 0;
	}
	.project-section-head h3 {
		font-size: 3em;
	}
	.contact_desc {
		padding: 8em 0 3em 0;
	}
}
@media screen and (max-width: 800px) {
	.contact_desc h2 {
		font-size: 2em;
		margin: 8px 0px;
	}
	.contact_desc {
		padding: 6.5em 0 3em 0;
	}
	.company_address {
		float: left;
		width: 28%;
	}
	.contact_info {
		width: 69%;
		margin-left: 3%;
	}
	.logo {
		left: 5%;
		width: 20.8%;
	}
	.caption {
		left: 5%;
		top: 24%;
		padding: 2em 0.3em 2em 0.3em;
		width: 20.8%;
	}
	.caption h3 {
		font-size: 1.45em;
	}
	.caption p {
		font-size: 1em;
		height: 110px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 35%;
		right: 5%;
	}
	.callbacks_tabs a:after {
		height: 45px;
		width: 4px;
	}
	.welcome-grid p {
		height: 72px;
	}
	.welcome-grid {
		margin-bottom: 2em;
	}
	.images {
		width: 100%;
	}
	.about-section a {
		width: 22%;
		margin: 1em auto 0;
	}
	.about-section-grid h4 {
		margin-bottom: 0.5em;
	}
	.about-section h2 {
		font-size: 3em;
	}
	.about-section {
		min-height: 450px;
		padding-top: 2em;
	}
	.welcome-section {
		padding: 2.5em 0;
	}
	.welcome-grid h5 {
		font-size: 1.3em;
	}
	.textimonials-section h5 {
		font-size: 1.1em;
	}
	.textimonials-section img {
		width: 7%;
	}
	.textimonials-section p {
		font-size: 1.2em;
	}
	.textimonials-section a {
		padding: 0.7em 1.6em;
		font-size: 1.2em;
	}
	.textimonials-section {
		min-height: 330px;
		padding-top: 3em;
	}
	.contact-section {
		margin-bottom: 3em;
	}
	.footer {
		text-align: center;
		padding: 2.5em 0;
	}
	.contact-section input[type="text"], .contact-section textarea {
		padding: 13px 13px;
		font-size: 1em;
	}
	.contact-section input[type="submit"] {
		font-size: 1.3em;
		padding: 10px 40px;
	}
	.content-gear h3 {
		font-size: 2.5em;
	}
	.content-gear p {
		font-size: 1.2em;
	}
	.gear-content h3 {
		font-size: 2.2em;
		margin: 0.3em 0 0 0;
	}
	.gear-gridsn {
		float: left;
		width: 32.333%;
	}
	.gear-grids {
		width: 32.333%;
		float: left;
		margin-right: 1.5%;
	}
	.inner-gear {
		width: 100%;
	}
	label.icon-grid {
		width: 90px;
		height: 90px;
		background: url(../images/img-sprite.png) -2px -90px;
		background-size: 290px;
	}
	label.icon {
		background-position: -97px -90px;
	}
	label.grid-icon {
		background-position: -197px -90px;
	}
	.about-page {
		padding-top: 4em;
	}
	.our-grid h3 {
		font-size: 3.1em;
	}
	.do-the {
		padding: 2.5em 0;
	}
	.the-do {
		width: 50%;
		float: left;
	}
	.grid-img {
		width: 50%;
		float: left;
	}
	.the-do h6 {
		font-size: 1.4em;
	}
	.the-do ul li {
		font-size: 0.85em;
	}
	.the-do p {
		margin: 0.6em 0 0;
		font-size: 0.92em;
	}
	.our-grid {
		height: 625px;
	}
	.error-page h3 {
		font-size: 16em;
	}
	.Error-found {
		padding-top: 9em;
		min-height: 650px;
	}
	.error-page p {
		font-size: 2em;
	}
	a.button.curl-bottom-right.two {
		width: 23%;
	}
	.project-section-head h3 {
		font-size: 2.4em;
	}
	.project-section {
		padding: 4em 0 3em 0;
	}
	#filters li span {
		font-size: 1.2em;
	}
	.grid_box .zoom-icon {
		height: 160px;
	}
	.about-section-grid p {
		height: 72px;
	}
	.about-section-grid {
		margin-bottom: 1.5em;
	}
	#portfoliolist .portfolio {
		width: 32.3444%;
	}
}
@media screen and (max-width: 768px) {
	.logo {
		left: 4%;
	}
	.caption {
		left: 4%;
	}
}
@media screen and (max-width: 640px) {
	.top-menu ul li a {
		font-size: 14px;
	}
	.top-menu ul li {
		margin: 0 7px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 26%;
		right: 5%;
	}
	.logo {
		width: 22.8%;
	}
	.caption {
		width: 22.8%;
	}
	.caption h3 {
		font-size: 1.3em;
	}
	.caption p {
		font-size: 0.95em;
		height: 102px;
	}
	.welcome-grid h5 {
		font-size: 1.2em;
	}
	.welcome-section {
		padding: 1.5em 0;
	}
	.about-section h2 {
		font-size: 2.4em;
	}
	.about-section a {
		width: 26%;
	}
	.about-section {
		min-height: 438px;
		padding-top: 1.8em;
	}
	.textimonials-section h5 {
		font-size: 0.91em;
	}
	.textimonials-section p {
		margin-bottom: 2.5em;
	}
	.textimonials-section a {
		padding: 0.6em 1.5em;
	}
	.textimonials-section {
		min-height: 285px;
		padding-top: 2.5em;
	}
	.contact-section h4, .follow-us h4 {
		font-size: 1.6em;
		margin-bottom: 0.8em;
	}
	.about-page {
		padding-top: 3em;
	}
	.about-page {
		padding-top: 3em;
	}
	.content-gear h3 {
		font-size: 2em;
	}
	.content-gear p {
		font-size: 1.12em;
		width: 100%;
	}
	.gear-content h3 {
		font-size: 2em;
	}
	.gear-grid {
		padding: 2em 0;
	}
	.our-grid h3 {
		font-size: 2.8em;
	}
	.our-grid {
		height: 660px;
	}
	.error-page h3 {
		font-size: 14em;
	}
	.error-page p {
		font-size: 1.9em;
	}
	a.button.curl-bottom-right.two {
		width: 28%;
	}
	.Error-found {
		min-height: 600px;
	}
	#portfoliolist .portfolio {
		width: 48.7111%;
	}
	#portfoliolist .portfolio:nth-child(9){
		display:none!important;
	}
	.project-section-head h3 {
		font-size: 2.1em;
	}
	.project-section {
		padding: 4em 0 2em 0;
	}
	.contact_desc h2 {
		font-size: 1.5em;
		margin: 6px 0px;
	}
	.company_address p {
		font-size: 0.84em;
	}
	.contact_desc {
		padding: 5.5em 0 2em 0;
	}
	#portfoliolist .portfolio:nth-child(3), #portfoliolist .portfolio:nth-child(6) {	
		margin-right: 1% !important;
	}
	#portfoliolist .portfolio:nth-child(2),#portfoliolist .portfolio:nth-child(4), #portfoliolist .portfolio:nth-child(6), #portfoliolist .portfolio:nth-child(8){	
		margin-right: 0% !important;
	}
}
@media screen and (max-width: 480px) {
	.logo {
		width: 26%;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 23%;
		left: 93%;
	}
	.callbacks_tabs a:after {
		height: 35px;
		width: 3px;
		display:block;
		margin:-6px;
	}
	.header {
		min-height: 45px;
	}
	.top-menu {
		padding-top: 0.9em;
	}
	.top-menu ul li {
		margin: 0 3px;
	}
	.caption {
		width: 26%;
		top: 27%;
		padding: 1em 0.3em 1em 0.3em;
	}
	.caption h3 {
		font-size: 1.1em;
	}
	.caption p {
		font-size: 0.9em;
		height: 74px;
		line-height: 1.5em;
	}
	.welcome-grid h5 {
		font-size: 1.03em;
	}
	.welcome-grid h3 {
		font-size: 1.89em;
		margin-bottom: 0.2em;
	}
	.welcome-grid {
		margin-bottom: 1.5em;
	}
	.about-section h2 {
		font-size: 2.1em;
	}
	.about-section-grid h4 {
		margin-bottom: 0.25em;
		font-size: 1.2em;
	}
	.about-section-grid p {
		height: 65px;
		font-size: 1em;
	}
	.images {
		padding: 0;
	}
	.about-section-grid {
		padding: 0;
	}
	.about-section a {
		width: 30%;
		padding: 0.6em 0.8em;
		margin: 0.5em auto 0;
		font-size:1em;
	}
	.about-section {
		min-height: 365px;
	}
	.textimonials-section h5 {
		font-size: 1em;
		height: 45px;
		overflow: hidden;
	}
	.textimonials-section a {
		padding: 0.5em 1.2em;
		font-size: 1em;
	}
	.textimonials-section {
		min-height: 260px;
		padding-top: 2em;
	}
	.footer {
	`	padding: 2em 0;
	}
	.contact-section input[type="text"], .contact-section textarea {
		padding: 10px 10px;
		font-size: 0.95em;
	}
	.contact-section input[type="submit"] {
		font-size: 1.2em;
		padding: 8px 37px;
	}
	.follow-us p {
		font-size: 1em;
		height: 66px;
		overflow: hidden;
	}
	.footer {
		padding: 2em 0 0 0;
	}
	.copyright {
		margin-top: 2.8em;
	}
	.error-page h3 img {
		width: 32%;
	}
	.Error-found {
		min-height: 550px;
		padding-top: 7em;
	}
	.error-page p {
		font-size: 1.7em;
	}
	.error-page h3 {
		font-size: 12em;
	}
	a.button.curl-bottom-right.two {
		width: 34%;
		padding: 0.8em 0.8em;
		font-size: 1.1em;
	}
	#portfoliolist .portfolio {	
		width: 49.6%;
	}
	.contact_info {
		width: 60%;
		margin-left: 1%;
	}
	.company_address {
		float: left;
		width: 39%;
	}
	.contact_desc h2 {
		font-size: 1.3em;
		margin: 5px 0px;
	}
	.contact-form span label {
		font-size: 0.875em;
		padding-bottom: 3px;
	}
	.contact-form input[type="text"], .contact-form textarea {
		padding: 8px;
	}
	.contact-form textarea {
		height: 169px;
	}
	.contact_desc {
		padding: 5em 0 2em 0;
	}
	.myButton {
		font-size: 1.1em;
		padding: 6px 23px;
	}
	#portfoliolist .portfolio {
		width: 49.1%;
	}
	#filters li span {
		font-size: 1em;
		margin: 0 0.25em;
	}
	.project-section-head h3 {
		font-size: 1.85em;
	}
	.content-gear h3 {
		font-size: 1.85em;
	}
	.gear-content h3 {
		font-size: 1.6em;
	}
	.gear-grids {
		width: 100%;
		margin: 0 0 2em 0;
	}
	.gear-gridsn {
		width: 100%;
	}
	.gear-grid {
		text-align: center;
	}
	label.icon-grid {
		float: none;
	}
	.our-grid h3 {
		font-size: 2.2em;
	}
	.the-do {
		width: 100%;
	}
	.our-grid {
		height: 820px;
	}
	.grid-img {
		width: 68%;
		float:right;
		margin-top: 1.5em;
	}
}
@media screen and (max-width: 320px) {
	.top-menu ul li {
		margin: 0 1px;
	}
	.top-menu ul li a {
		font-size: 12px;
	}
	.follow-us p {;
		height: 64px;
	}
	.contact-section {
		margin-bottom: 2em;
		padding: 0;
	}
	.contact-section input[type="submit"] {
		font-size: 1.1em;
		padding: 7px 25px;
	}
	.textimonials-section img {
		width: 12%;
	}
	.textimonials-section p {
		margin-bottom: 2em;
		font-size: 1.1em;
	}
	.about-section a {
		width: 43%;
	}
	.about-section h2 {
		font-size: 2em;
	}
	.about-section-grid h4 {
		font-size: 1.1em;
	}
	.about-section-grid p {
		font-size: 0.98em;
	}
	.welcome-grid p {
		height: 65px;
		line-height: 1.5em;
		font-size: 1em;
	}
	.about-section {
		min-height: 355px;
	}
	.welcome-grid h3 {
		font-size: 1.65em;
	}
	.header {
		margin-bottom: -2px;
	}
	.textimonials-section {
		margin: -3px 0 -4px 0;
	}
	.welcome-grid h5 {
		font-size: 1em;
	}
	.callbacks_tabs a:after {
		height: 30px;
		width: 2px;
	}
	.logo {
		width: 29%;	
		top: 98%;
	}
	.caption {
		width: 29%;
		top: 30%;
		padding: 0.5em 0.2em 0.5em 0.2em;
	}
	.caption h3 {
		font-size: 0.8em;
	}
	.caption p {
		font-size: 0.82em;
		height: 48px;
		line-height: 1.4em;
	}
	.left_form {
		width: 100%;
	}
	.right_form {
		width: 100%;
		margin-left: 0;
	}
	.contact_desc {
		padding: 4em 0 2em 0;
	}
	.company_address {
		width: 100%;
		margin-bottom: 1em;
	}
	.contact_info {
		width: 100%;
		margin-left: 0;
	}
	.company_address p {
		font-size: 1em;
		padding: 2px 0;
	}
	#portfoliolist .portfolio {
		width: 100%;
		margin: 0 0 1% 0;
	}
	.project-section-head h3 {
		font-size: 1.8em;
	}
	#filters li {
		display: block;
		margin: 3px 0;
	}
	.error-page h3 {
		font-size: 9em;
	}
	.error-page p {
		font-size: 1.6em;
	}
	.Error-found {
		min-height: 420px;
		padding-top: 6em;
	}
	a.button.curl-bottom-right.two {
		width: 55%;
	}
	.our-grid h3 {
		font-size: 1.75em;
	}
	.grid-img {
		width: 100%;
	}
	.our-grid {
		height: 880px;
	}
	.gear-content h3 {
		font-size: 1.4em;
	}
	.gear-grid {
		padding: 1.5em 0;
	}
	.content-gear h3 {
		font-size: 1.8em;
		margin-top: 0;
	}
	.content-gear p {
		font-size: 1.1em;
		height: 166px;
		overflow: hidden;
	}
}

